.grandfather {
    width: 600px;
    background-color: aquamarine;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

.father {
    width: 100%;
    height: 100%;
    background-color: coral;
    padding: 10px;
}

.grandson {
    width: 100%;
    height: 100%;
    background-color: rgb(131, 153, 230);
}

.myContainer {
    width: 800px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    background-color: #ddd;
}